@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400italic);
/* var text-decoration */

/*Common Css*/

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: 'Volkhov', serif;
  font-style: italic;
  color: #666;
}

/*Header Start */

header {
  background: #fff;
  padding: 20px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}
font header .navbar-default .navbar-nav li a:hover {
  color: #000;
}
/*---------------------------------------------*/
/*Index Start */

/*service Start */
#results {
  text-align: center;
  padding: 90px 0;
}


/*---------------------------------------------*/
/*Work Start */

/*Slider-work Start */
#global-header {
  padding-top: 34px;
  padding-bottom: 34px;
  position: relative;
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #01e447, #185fff 100%);
  opacity: 0.8;
}
#global-header .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
  text-align: center;
}
#global-header .block h1 {
  font-weight: 600;
  font-size: 70px;
  letter-spacing: 1px;
  padding-bottom: 14px;
  margin-top: 0;
  text-transform: capitalize;
}
#global-header .block p {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0px;
  word-spacing: 0px;
}


/*Work Close */


/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*---------------------------*/

/*footer Start */

footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-manu ul li a:hover {
  color: #000;
}

/*---------------------------------------------
Results Table 
-----------------------------------------------*/

/*--------- Bonoloto Results Table ------------*/
.results-table table thead tr {
  color: #FFF;
  background: #172842;
}

/*--------- Bonoloto Balls------------*/

/* STYLES */
.balls{
  margin-bottom:40px
}
.balls .ball,.balls .bonus{
  border-radius:65px;
  box-shadow:0 -5px 10px 0 rgba(0,0,0,0.5) inset;-webkikt-box-shadow:0 -10px 25px 0 rgba(0,0,0,0.5) inset;display:inline-block;
  font:1.125em/40px Oswald,sans-serif;height:40px;
  letter-spacing:-1px;position:relative;text-align:center;
  top:0;width:40px;padding:0;margin-bottom:0;color:#fff;
  font-weight: 800;
  font-size: 22px;
}
.super-10 .balls .ball{
  margin-bottom:10px
}
.balls li:before{
  background:none
}
.balls .ball:after,.balls .euro:after,.balls .bonus:after{
  content:"";display:block;
  height:11px;position:absolute;
  bottom:-4px;width:40px;
}
.balls .bonus{
  background-position:54.466% 3.425%;
  color:#293444
}
.balls .bonus:before{
  width:40px;
  height:20px;
  font:11px/18px Oswald;
  color:#293444;letter-spacing:0;
  text-shadow:none;
  top:42px;
  line-height:12px
}
.balls.big .bonus:before{
  top:56px;
  width:50px
}
.balls.big .ball,.balls.big .bonus{
  background-size:650px 1950px;
  height:52px;width:52px;
  font-size:1.500em;line-height:54px;
  box-shadow:0 -5px 10px 0 rgba(0,0,0,0.3) inset;
  -webkikt-box-shadow:0 -10px 25px 0 rgba(0,0,0,0.3) inset
}
.balls.big .ball:after,.balls.big .bonus:after{
  background-size:650px 1950px;
  height:17px;
  bottom:-8px;
  left:0px;
  width:50px
}
.balls li.result {
  display:inline-block; 
  background: #333;
  border-radius: 5px; color: #FFF;
  padding: 5px; margin: 0; min-width: 25px;
}
.balls li.result.last {
  min-width: 50px;
}

ul li:before{
  content:"";
  width:26px;
  height:26px;
  position:absolute;
  top:5px;
  left:0px
}

/* BONOLOTO */
.bonoloto .balls .ball{
  background-color:#44aa00;
}

.bonoloto .balls .bonus{
  background-color:#e55e2f
}

.bonoloto .balls .bonus:before{
  content:"Compl."
}

.bonoloto .balls .bonus.reintegro{
  background-color:#80c700
}

.bonoloto .balls .bonus.reintegro:before{
  content:"Reintegro"
}